{% extends "home.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .miracle-to-upload {
            text-decoration: none;
            font-size: 18px;
            color: #403e3e;
        }

        .miracle-to-upload:hover{
            color: #ffa309;
            text-decoration: none;
        }
    </style>
{% endblock css %}

{% block content %}

    <div class="droppable">
        <div class="info-drag info-item">
            <h1 style="color: rgba(36,191,36,0.85)"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> 文件上传成功啦！
            </h1>
            <a class="miracle-to-upload" href="{% url 'upload' %}">点击继续上传</a>
            <a class="miracle-to-upload" href="{% url 'search' %}">点击返回首页</a>
            <div class="container">
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock js %}
